CREATE TABLE IF NOT EXISTS shopping_list ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), user_id UUID REFERENCES users(id), ingredient_name TEXT NOT NULL, quantity NUMERIC, unit TEXT, is_purchased BOOLEAN DEFAULT false, created_at TIMESTAMPTZ DEFAULT now() );
